[package]
name = "api"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["fullstack"] }

[features]
default = []
server = ["dioxus/server"]
web = ["dioxus/web"]
